In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
# load full_output.csv
df = pd.read_csv('full_output.csv')

In [21]:
# trim whitespace from columns
df.columns = df.columns.str.strip()

In [22]:
# drop unnamed columns
df.drop(columns=['Unnamed: 0'], inplace=True)

In [24]:
df.head()

,Event,School,TEA,City,Directors,Conference,Classification,Year,ID,Stage Judge 1,...,Stage Judge 3,Stage Final,SR Judge 1,SR Judge 2,SR Judge 3,SR Final,Award,Selection 1,Selection 2,Selection 3
0,100-Concert Band,Hemphill High School,TEA:,Hemphill,Evan Richardson,AA,Varsity,2005,18178,1,...,1,1,2,1,1,1,T A,The Huntress (KL King),In The Shining Of The Stars (Sheldon),The Battle of Jericho (Spinney)
1,100-Concert Band,Flour Bluff JH,TEA:,Corpus Christi,David Burnett,CCC,Non-Varsity,2005,11875,1,...,1,1,1,1,2,1,SWD,March of the Palace Guards (Jerry Williams),Two British Folk Songs (Del Borgo (arr)),Pinnacle (Grice)
2,100-Concert Band,Driscoll MS,TEA:,Corpus Christi,Jon Rimmer,CC,Non-Varsity,2005,12215,3,...,3,3,3,3,4,3,,March of the Cyclops (Henderson),Atlantis (McGinty),Liturgical Fanfare (Smith)
3,100-Concert Band,Calallen MS,TEA:,Corpus Christi,Jeffery Valperts,CC,Non-Varsity,2005,12099,2,...,1,1,2,2,1,2,P2,March of the Cyclops (Kenneth Henderson),Chester (Billings/Tolmage/Staff Osterling/HL),Phantom Ship (Del Borgo)
4,100-Concert Band,Blunt MS,TEA:,Aransas Pass,Daci Fletcher,CC,Non-Varsity,2005,12116,4,...,4,4,4,4,4,4,,Two Minute Symphony (Margolis),Amazing Grace (Edmondson),King Willams March (Clark/Balent)

In [27]:
# convert judges column to numeric
df.describe()

               Year             ID
count  60847.000000   60847.000000
mean    2014.046050   96111.894489
std        5.000136   48106.425425
min     2005.000000   10979.000000
25%     2010.000000   55467.500000
50%     2014.000000   94894.000000
75%     2018.000000  137914.500000
max     2022.000000  178339.000000