In [17]:
import pandas as pd

In [18]:
# import the top_judges.csv file into a dataframe
top_judges = pd.read_csv('csv_files/top_judges.csv')
top_judges.head()

                 cj1  count
0  george strickland   1891
1        danny prado   1869
2       randy vaughn   1792
3        jill yancey   1728
4        rick yancey   1719

In [19]:
# import the full_output.csv file into a dataframe
full_output = pd.read_csv('csv_files/full_output.csv')
full_output.head()

c:\Users\macdk\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,School,City,Directors,Conference,Classification,Year,Stage Judge 1,Stage Judge 2,Stage Judge 3,...,Selection 3,Date,Region,cj1,cj2,cj3,srj1,srj2,srj3,Stage Average
0,0,James Bowie High School,Arlington,Larry Brown,AAAAA,Non-Varsity,2005,1.0,1.0,1.0,...,Festivo,04/06/2005,Region: 5,richard bass,"joe frank, jr.",rodney klett,george jones,tom neugent,marion west,1.000000
1,1,Munday High School,Munday,Rodney D. Bennett,A,Varsity,2005,1.0,1.0,2.0,...,Flight of Valor,03/10/2005,Region: 2,mike glaze,richard herrera,will burks,harold bufe,mack bibb,june bearden,1.333333
2,2,Holliday High School,Holliday,Melanie Hadderton,AA,Varsity,2005,2.0,2.0,3.0,...,Pablo!,03/10/2005,Region: 2,mike glaze,richard herrera,will burks,harold bufe,mack bibb,june bearden,2.333333
3,3,Decatur High School,Decatur,Doug Fulwood,AAA,Varsity,2005,1.0,2.0,2.0,...,West Highlands Sojourn,03/10/2005,Region: 2,mike glaze,richard herrera,will burks,harold bufe,mack bibb,june bearden,1.666667
4,4,City View High School,Wichita Falls,Terah Kay Shawver,AA,Varsity,2005,1.0,1.0,1.0,...,Canterbury Walk,03/10/2005,Region: 2,mike glaze,richard herrera,will burks,harold bufe,mack bibb,june bearden,1.000000

In [20]:
judge_name_columns = ['cj1', 'cj2', 'cj3', 'srj1', 'srj2', 'srj3']
judge_rating_columns = ['Stage Judge 1', 'Stage Judge 2', 'Stage Judge 3', 'SR Judge 1', 'SR Judge 2', 'SR Judge 3']
judge_stage_names = ['cj1', 'cj2', 'cj3']
judge_sr_names = ['srj1', 'srj2', 'srj3']
stage_rating_columns = ['Stage Judge 1', 'Stage Judge 2', 'Stage Judge 3']
sr_rating_columns = ['SR Judge 1', 'SR Judge 2', 'SR Judge 3']

In [21]:
# get the names 
top_judge_names = top_judges['cj1'].to_list()
top_judge_names


top_judges

                   cj1  count
0    george strickland   1891
1          danny prado   1869
2         randy vaughn   1792
3          jill yancey   1728
4          rick yancey   1719
..                 ...    ...
241        john benzer    407
242         doug grice    405
243       jim childers    403
244      terry maxwell    403
245      robert vetter    402

[246 rows x 2 columns]