In [36]:
import pandas as pd

In [37]:
# import the top_judges.csv file into a dataframe
top_judges = pd.read_csv('csv_files/top_judges.csv')
top_judges.head()

                 cj1  count
0  george strickland   1891
1        danny prado   1869
2        rick yancey   1855
3       randy vaughn   1792
4        jill yancey   1728

In [38]:
# import the full_output.csv file into a dataframe
full_output = pd.read_csv('csv_files/full_output.csv')
print(len(full_output))

60230

C:\Users\macdk\AppData\Local\Temp\ipykernel_8784\1653068750.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  full_output = pd.read_csv('csv_files/full_output.csv')

In [39]:
judge_name_columns = ['cj1', 'cj2', 'cj3', 'srj1', 'srj2', 'srj3']
judge_rating_columns = ['Stage Judge 1', 'Stage Judge 2', 'Stage Judge 3', 'SR Judge 1', 'SR Judge 2', 'SR Judge 3']
judge_stage_names = ['cj1', 'cj2', 'cj3']
judge_sr_names = ['srj1', 'srj2', 'srj3']
stage_rating_columns = ['Stage Judge 1', 'Stage Judge 2', 'Stage Judge 3']
sr_rating_columns = ['SR Judge 1', 'SR Judge 2', 'SR Judge 3'] 
full_output = full_output.dropna(subset = stage_rating_columns)
print(len(full_output))

56857

In [40]:
# convert all values in the top_judges dataframe to string
top_judges['cj1'] = top_judges['cj1'].astype(str)

# convert top_judges['cj1'] to list
top_judge_names = top_judges['cj1'].to_list()

In [41]:
top_judge_row = 0
for judge in top_judge_names:
    column_index = 0
    jlen = 0
    jsum = 0
    for i in judge_stage_names:
        column_index += 1
        mask = full_output.loc[full_output[i].str.contains(judge) == True, f'Stage Judge {column_index}']
        jlen += len(mask)
        jsum += sum(mask)
    if jlen > 0:
        stage_average = jsum / jlen

    top_judges.at[top_judge_row, 'stage_average'] = stage_average
    top_judge_row += 1